.card__content{
    align-items: flex-end;
    display: flex;
}


.cardImg{
    object-fit: cover;
}
.mdItem{
    position: relative;
    width:158px ;
    height: 280px;
    min-height: 280px;
    min-width: 158px;
}

.lgItem{
    position: relative;
    width:640px ;
    height: 426px;
    min-height: 480px;
    min-width: 320px;
}

@media (min-width: 64rem){
.card:nth-child(5n+1) .card__content {
    padding: 1.375rem;
}
}

@media  only screen and (max-width:480px) {
    .lgItem{
        width: 100%;
    }
    
}