.header {
    background-color: #0009;
    position: fixed;
    top: 0;
    transform: translateZ(0);
    transition: transform .2s ease-in-out;
    width: 100%;
    z-index: 2;
    height: 13%;
}
.container .header {
  
   align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.navItems{
    display: flex;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navItem{
    position: relative;
}

.navItem2{
    color: #fff;
    display: block;
    font-size: .875rem;
    font-weight: 700;
    letter-spacing: .02625rem;
    line-height: 1.1875rem;
    position: relative;
    text-transform: uppercase;
}

.mainNav{
    
}
.logoWrapper{
    width: 100px;
    margin-left: 10px;
}
.logoLink{
    position: relative;
}

.container{
    width: 100%;
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.navDropdown{
    position: absolute;
}
/* queries */



@media (min-width: 64rem){
    .menu {
    align-items: center;
    flex-direction: row;
}

.navItem2 {
    padding: 3.3125rem 1.25rem 1.125rem;
}
}
