.conContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background-color: gray;
    height: 100vh;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/6984621/pexels-photo-6984621.jpeg?auto=compress&cs=tinysrgb&w=1600);
    background-size: cover;

}


#contactContainer{
  width: 1200px;
  backdrop-filter: blur(7px);
  -webkit-box-shadow: 0px 10px 33px 0px rgba(0,0,0,0.75);
  border: 1px solid rgba(255, 255, 255, 0.5 );
    overflow: hidden;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    background: rgb(51, 47, 47);
 
}
.contactInfo{
    background-color: purple;
    border-radius: 10px;
    flex:0 1 40%;

    padding: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    h4{
        font-size: 3rem;
        font-weight: 600;
        margin: 0px;
    }
   .iconText{
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2rem;
    .fa{
        flex: 0 0 20px;
        font-size: 2.2rem;
        margin-right: 2rem;
        color: aqua;
    }
    p{
        font-size: 1.2rem;
        color: rgba(255,255,255, .7);
        font-weight: 300;
        margin-bottom: 2rem;
    }
    span{
        font-size: 1.2rem;
        font-weight: 300;
        padding: 10px;
    }
   }

   .socialMedia{
    display: flex;
width: 50%;
justify-content: space-between;

     .iconCircle{
        flex: 0 0 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        background:rgba(255,255,255, .7);
        height: 60px;
        border-radius: 50%;
        font-size: 35px;
        transition: 0.3s all ease-in-out;
          &:hover{
            background: rgba(0, 195, 255, 0.87);
          }
     }
   }
    
          }

          .forms{
            padding: 40px;
           
            .col{
                display: flex;
               width: 40%;
               flex: 0 0 100%;
            }
            .formGroup{
                display: flex;
                justify-content: flex-start;
                flex: 0 0 100%;
                padding-right: 40px;
                flex-direction: column;
                label{
                    font-size: 0.98rem;
                    color: white;
                    margin-bottom: 1rem;
                }
                input[type="text"],  input[type="tel"],  input[type="email"] , textarea{
                    background: transparent;
                    border: none;
                    
                    padding: 10px;
                    font-size: 1.5rem;
                    font-weight: 300;
                    color:white;
                    border-bottom: 2px solid burlywood;
                    transition: all ease-out;
                    margin-bottom: 2rem;

                    &:focus{
                        border: none;
                        outline: none;
                        border-bottom: 2px solid burlywood;
                        cursor: pointer;

                    }
                }
                &:nth-child(2){
                    padding-right: 0;

                }
                textarea{
width: 100%;
                }
                .colArea{
                    display: flex;
                    width: 100%;
                    flex: 0 0 100%; 
                }
            
                button{
                    width: 200px;
                    height: 60px;
                    cursor: pointer;

                }
                
               
            }
          
          }
          .butCss{
                    display: flex;
                    align-items: flex-end;
                }